$bleu: #337AB7;

span {
  color: white;
  background-color: $bleu;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
  box-shadow: 0 0 15px;
}

p {
  margin-bottom: 30px;
  margin-top: 30px;
}



// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
